.space{
    padding-top: 10rem;
    height: 200vh;
    justify-content: center;
    display: flex;
    font-size: 1rem;
    flex-direction: column;
}
.cat{
    width:100vw;
    height:100vh;
    background-size: contain;
    background-repeat: no-repeat;
}